<h1>過去の議事録</h1>

<table border=3px>
  <tbody>
    <tr>
      <td>タイトル</td>
      <td>議事</td>
      <td>日付</td>
    </tr>
    <% @proceedings.each do |proceeding| %>
      <tr>
        <td><%= proceeding.title %></td>
        <td><%= proceeding.sender_id %></td>
        <td><%= proceeding.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
